@import './libs/var/colors.less';

* {
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    top:0;
    left: 0;
    background-color: #fff;
    width: 100vw;
}


.headerHome {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    border-bottom: 2px solid rgb(139, 139, 139);
    padding: 0px 30px 0px 30px;
    z-index: 1;

    .linkLogo {
        .link {
            display: flex;
            align-items: center;
            color: #000;
            text-decoration: none;
            font-size: 35px;
            
            img {
                width: 30px;
            }
        }

        &:hover {

            .link {
                color: red;

            }
           
        }
        
        margin-left: 20px;
    }

    .linksHeader {
        display: flex;
        list-style: none;
        margin-right: 20px;

        .linkLi {
            padding: 0px 10px 0px 10px;
            .link {
                color: #000;
                text-decoration: none;
                font-size: 20px;

                img {
                    width: 30px;
                }

                .claro {
                    display: none;
                }

                &:hover {
                    color: red;
                    transition: 500ms linear;
                }
            }
        }
    }
}